<div class="flex flex-col justify-center">
    {% for word in range(9) %}
        {% set outer_loop = loop %}
        <div class="flex justify-center p-2">
            <input type="radio" name="row" class="hidden peer word-checkbox"/>
            {% for i in range(10) %}
                <div class="flex items-center justify-center w-12 h-12 mx-1 text-2xl font-bold border-2 border-primary peer-checked:border-[oklch(var(--s))]">
                    {% if (outer_loop.first or outer_loop.last) %} {{word[i]}}{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div class="flex justify-center m-4 gap-x-24">
    <button id="select-below" class="btn btn-primary">Below</button>
    <button id="select-above" class="btn btn-primary">Above</button>
</div>

<div class="flex justify-center">
    <button id="add-letter" class="btn btn-primary">Add Letter</button>
</div>